{#
/**
 * @file
 * Theme implementation to display a social post form.
 */
#}

{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="comment-form__container">
  {{ form.author }}
  {{ form.text }}
  {{ form.actions }}
</div>
{{ form|without('form_build_id', 'form_token', 'form_id', 'author', 'text', 'actions') }}
